<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets('css/estilo.css') }}">
    <link rel="icon" type="image/png" href="https://i.imgur.com/q2JOfMa.png" />
    <title>Khan</title>
  </head>
  <body>

    <div class="container-fluid bg-primary h-100">
    	<div class="row">
    		<div class="col-12">
    			<header>
					<nav class="nav-project navbar navbar-light bg-primary">
						  <a class="navbar-brand" href="#">
						    <img src="{{ assets('img/icone.png') }}" width="50" height="50" class="d-inline-block align-top" alt="">
						  </a>
					</nav>
				</header>
    		</div>
    	</div>

    	<div class="row main">
    		<div class="col-12 h-100">
				<div class="row h-100">

					<div class="col-md-6 col-sm-12 h-100">
						<div class="jumbotron bg-primary text-white">
						  <h1 class="display-3" style="font-size: 3rem;">Khan Framework</h1>
						  <p class="lead">
						  	Khan is a web application framework. We believe that development must be a good and not tiresome experience to be truly productive. Khan streamlines development by easing common tasks used in most web projects
						  </p>
						  <hr class="my-4">
						  <p>Start developing with ease and organization.</p>
						  <p class="lead">
						    <a class="btn btn-outline-dark btn-lg" href="https://github.com/PaulaoDev/khan/blob/master/README.md" role="button" target="__blank">
						    	Learn more
						    </a>
						  </p>
						</div>
					</div>	

					<div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center flex-column btns">
						<a class="btn btn-lg btn-dark btn-personalize d-flex justify-content-center align-items-center text-white" href="/docs/index.html" target="__blank">
			    			Documentation
			    			<i class="fas fa-book ml-2 mt-1"></i>
			    		</a>

			    		<a class="btn btn-lg btn-outline-light mt-3 btn-personalize d-flex justify-content-center align-items-center" href="https://github.com/PaulaoDev/khan" target="__blank">
			    			Repository
							<i class="fab fa-github-alt ml-2 mt-1"></i>
			    		</a>
					</div>

				</div>
	    	</div>
    	</div>

    	<div class="row">
    		<footer class="footer col-12 d-flex justify-content-center align-items-center bg-white">
			  <span class="text-muted">&copy; Criado por <a href="https://github.com/PaulaoDev" title="Creator framework" class="ml-1" target="__blank">PaulaoDev</a></span>
			</footer>
    	</div>

    </div>

    <!-- FONT AWESOME -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

  </body>
</html>
