<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Khan</title>
	<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>

	<div class="container">
		<a href="https://github.com/PaulaoDev/router-khan" title="Repository">
			<div class="img">
				<img src="assets/img/icone.png" alt=""/>
			</div>
		</a>
		<h1 class="message">{{ message }}</h1>
	</div>

	<script src="assets/js/app.bundle.js"></script>
	
</body>
</html>
