# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore

* text=auto
*.html  linguist-vendored=true
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
