@import 'https://fonts.googleapis.com/css?family=Lato';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{

	height: 100vh;
	width: 100%;
	background: #fff;
	position: relative;
  	z-index: 1;
	display: grid;
	grid-template-areas: "img img" "div div";
	grid-template-rows: 50vh 50vh;
	
	.img{
		grid-area: img;
		img{
			opacity: .8;
			border-radius: 10px;
			width: 40vw;
			transition: all 1s ease;
			cursor: pointer;
			&:hover{
				transition: all 1s ease;
				opacity: 1;
			}
		}
	}

	a{
		width: 100vw;
		height: 50vh;
	}

	.message {
		
		grid-area: div;
		font-size: 3em;
		font-family: 'Lato', sans-serif;
		color: #4834d4;
		margin-top: 15px;
		text-align: center;

		&::after{
			content: '';
			display: block;
			width: 40vw;
			height: 5px;
			margin: 15px auto;
			background: currentColor;
		}

	}

	a{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&::before{
	    width: 100vw;
	    height: 100vh;
	    content: " ";
	    background: #ffffff;
	    position: absolute;
    	z-index: -1;
	}

}
